<!--The content below is only a placeholder and can be replaced.-->
<app-header-angular></app-header-angular>
<h2>Prueba de PIPE: {{ 14 | toEuros}} </h2>
<p>En esta prueba añadimos a 14 el elemento € mediante un PIPE toEuros</p>
<h2>Prueba de ngFor</h2>
<p>Aqui mostramos un array de nombre mediante ngFor</p>
<ul>
  <li *ngFor="let name of nombres">
    <div>
      <h4>{{name}}</h4>
    </div>
  </li>
</ul>
<h2>Prueba de ngIf</h2>
<p>Aqui nos muestra si los numeros 5 y 3 son mayores a 4 y se muestran si son asi</p>
<p *ngIf="esMayor4(5)" style="color: green;">5 si es mayor que 4</p>
<p *ngIf="esMayor4(3)" style="color: green;">3 si es mayor que 4</p>
<button (click)="cambiarValor()">Cambiar valor</button>
<p>Este boton cambia el valor de un atributo de true a false y se meustra cada vez un p</p>
<p *ngIf="valor" style="color: green;">Valor es true</p>
<p *ngIf="!valor" style="color: red;">Valor es false</p>
<h2>Prueba de keyup && Template && ngModel</h2>
<input #estemp [(ngModel)]="texto">
<input placeholder="modificar por template" (keyup)="estemp.value = $event.target.value">
<p *ngIf="noVacio(texto)">{{ texto }}</p>
<p *ngIf="!noVacio(texto)" style="color: red;">Introduce algo de texto</p>
<h2>Prueba de ngSwitch</h2>
<input type="number" (input)="numero = $event.target.value">
<div [ngSwitch]="numero">
  <div *ngSwitchCase="1">Uno
  </div>
  <div *ngSwitchCase="'2'">Dos
  </div>
  <div *ngSwitchCase="'3'">Tres
  </div>
  <div *ngSwitchDefault> Fuera de rango 1 - 3 
  </div>
  </div>
<br>
<router-outlet></router-outlet>
