<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</header>
<div class="divAzul">
  <h2>Crear tareas: </h2>
  <input type="text" (keyup)="handleKeyup($event)" [(ngModel)]="nuevaTarea" placeholder="Nombre de la tarea">
  <input type="button" value="Crear tarea" (click)="agregarTarea()">
  <p class="error" *ngIf="verError">El nombre no puede estar vacio.</p>
</div>

<div class="todo">
  <div *ngFor="let tarea of tareas" class="tarea">
    <app-card-tarea [nombreTarea]="tarea" (borrarNombre)="borrarElemento($event)"></app-card-tarea>
  </div>
</div>

<router-outlet></router-outlet>
