header {
  color: rgb(182, 18, 18);
  text-align: center;
}

.divAzul {
  background-color: rgb(24, 33, 153);
  color: white;
  padding-bottom: 5vh;
  padding-top: 1vh;
  padding-left: 10vw;
}

.error {
  color: red;
}

.tarea {
  background-color: rgb(138, 206, 37);
  border: 2px solid rgb(17, 13, 13);
}

.margin-boton {
  margin-left: 5px;
}