header {
  color: rgb(182, 18, 18);
}

.divAzul {
  background-color: rgb(13, 13, 209);
  color: white;
  padding-bottom: 5vh;
  padding-top: 1vh;
  padding-left: 10vw;
}

.error {
  color: red;
}

.todo {
  width: 100%;
}

.tarea {
  background-color: rgb(138, 206, 37);
  width: 25%;
}