<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>
    {{ title }}
  </h1>
</header>
<div class="divAzul">
  <h2>Crear tareas: </h2>
  <input type="text" (keyup)="handleKeyup($event)" [(ngModel)]="nuevaTarea" placeholder="Nombre de la tarea">
  <input type="button" class="btn btn-primary" value="Crear tarea" (click)="agregarTarea()">
  <p class="error" *ngIf="verError">El nombre no puede estar vacio.</p>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let tarea of tareas" class="col">
      <app-card-tarea [nombreTarea]="tarea" (borrarNombre)="borrarElemento($event)"></app-card-tarea>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
