<!-- <p>movie-detail works! {{ id }}</p>
<pre *ngIf="movieData">
  {{ movieData | json }}
</pre> -->

<div *ngIf="movieData">
  <h1>{{ movieData.title || movieData.original_title || movieData.original_name }}</h1>
  <p>Language: {{ movieData.original_language }}</p>
  <p>Popularity {{ movieData.popularity }}</p>
  <p>{{ movieData.overview }}</p>
  <ul>
    <h2>Producers:</h2>
    <li *ngFor="let producer of movieData.production_companies">{{ producer.name }}</li>
  </ul>
  <img src="{{ imgDomain + movieData.poster_path }}" alt="" />
</div>

<h2 *ngIf="!movieData">Id no encontrado</h2>
