body {
    background-color: white;
    height: 100vh;
    width: 100vw;
}
header {
    box-sizing: border-box;
    background-color: rgb(34, 101, 189);
    height: 10%;
    border: 4px solid rgb(26, 26, 165);
    border-style: outset;
}
aside {
    box-sizing: border-box;
    background-color: orangered;
    width: 15%;
    height: 90%;
    position: absolute;
    font-weight: bold;
    color: white;  
    text-align: center;
    border: 3px solid rgb(207, 71, 21);
    border-style: outset;
}
main {
    margin-left: 15%;
    width: 85%;
    height: 84%;
    background-image: url("../imagenes/folio.png");
}
footer {
    box-sizing: border-box;
    background-color: rgb(196, 25, 25);
    height: 6%;
    margin-left: 15%;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 4px solid rgb(158, 52, 14);
    border-style: inset; 
}
section {
    margin-left: 5px;
}
article {
    margin-top: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.cabecera {
    font-size: 40px;
    font-weight: bold;
    color: white;  
    text-align: center;
}
li {
    margin-bottom: 10px;
    font-size: 17px;
}
p {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
}
.indice, .indice2 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: underline;
}
.secciones {
    margin-top: 8px;
    margin-left: 30px;
    font-size: 1;
    font-weight: bold;
}
.boton-redondo{
    border-radius: 10px;
    background-color: rgb(34, 101, 189);
    color: white;
    font-weight: bold;
}
main h1 {
    box-sizing: border-box;
    font-size: 35px;
    color: darkslateblue;
    text-align: center;
    font-weight: bold;
    background-color: rgb(133, 168, 233);
    border: 3px solid gray;
    border-style: outset;
    font-family: Lobster;
}

section h2 {
    margin-top: 15px;
    font-size: 30px;
    color: rgb(136, 61, 139);
    font-weight: bold;
    text-decoration: underline;
}

/* Link que cambia de color al ponerse encima*/
a{
    color: brown;
}
a:hover {
    color: red;
}

::placeholder {
    font-style: italic;
    color: rgb(52, 52, 199);
}