<section class="center">
  <button (click)="loadPopularMovies()">Load popular movies</button>

  <button (click)="loadTrendingMovies()">Load trending movies</button>

  <button *ngIf="data" (click)="clean()">Borrar</button>
</section>
<section class="center" *ngIf="!data">NO RESULTS</section>
<!-- <pre>
  {{ data | json }}
</pre> -->
<section *ngIf="data">
  <h1>{{ title }}</h1>
  <div class="movies">
    <a routerLink="/movie/{{ movie.id }}" class="movie" *ngFor="let movie of data">
      <h1>{{ movie.title || movie.original_title || movie.original_name }}</h1>
      <img class="poster" src="{{ imgDomain + movie.poster_path }}" alt="" />
      <!-- <img src="{{ imgDomain + movie.backdrop_path }}" alt="" /> -->
    </a>
  </div>
</section>
