.container {
    width: 100%;
    height: 100%;
    max-width: 1366px;
}

.titulo {
    box-sizing: border-box;
    height: 10vh;
    margin: 0px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    position: fixed;
}

.barra-lateral {
    box-sizing: border-box;
    height: 90vh;
    margin: 0px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin-top: 10vh;
    position: fixed;
}

.principal {
    box-sizing: border-box;
    border: 2px solid white;
    background-image: url("../imagenes/folio.png");
}

.footer {
    box-sizing: border-box;
    margin: 0px;
    border: 2px solid white;
    border-radius: 10px;
    height: 10vh;
}
.img-titulo {
    width: 6vw;
    height: 9vh;
    margin-left: 5vw;
}
.logo {
    width: 4vw;
    height: 8vh;
    display: block;
    margin: auto;
    margin-top: 7vh;
}

.parallax {
    /* The image used */
    background-image: url("https://estaticos.elperiodico.com/resources/jpg/6/8/1530540262286.jpg");

    /* Set a specific height */
    min-height: 500px;

    width: 100vw;
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}